<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="work" onload="getRepos()">

{% include navigation.html %}

<div id="main" role="main">
  <article class="entry">
    {% if page.image.feature %}<img src="{{ site.url }}/images/{{ page.image.feature }}" class="entry-feature-image" alt="{{ page.title }}" {% if site.logo == null %}style="margin-top:0;"{% endif %}>{% if page.image.credit %}<p class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></p>{% endif %}{% endif %}
    <div class="entry-wrapper">
      <header class="entry-header">
        <h1 class="entry-title">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
      </header>
      <div class="entry-content">
        {{ content }}
        <select onchange="show_page(this.value)">
          <option value="">Alphabetical</option>
          <option value="stars" selected>Stars</option>
        </select>
        <ul id="show">
        </ul>
      </div><!-- /.entry-content -->
    </div><!-- /.entry-wrapper -->
  </article>
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo" class="entry-wrapper">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}

<script>

var objectsData = [];

function getRepos(){
	var xhr = new XMLHttpRequest();

	xhr.open("GET","https://api.github.com/users/pimonteiro/repos", true);
	xhr.send(null);


	xhr.onreadystatechange = function(){
		if (xhr.readyState === 4 && (xhr.status === 200 || xhr.status === 304)){
		  listRepos(xhr.responseText);

		}
		else console.log(xhr.status, objectsData);
	}

}

function listRepos(data){
	var parsedData = JSON.parse(data);

	// Get data from response to an array
	for(var i=0; i < parsedData.length; i++){
		var tmp = {
			name: parsedData[i].name,
			isFork: parsedData[i].fork,
			stars: parsedData[i].stargazers_count,
			url: parsedData[i].html_url,
			description: parsedData[i].description
		};
    if(!isFork)
		  objectsData.push(tmp);
	}
	show_page("stars");
}



function show_page(srt){
	if(srt == ""){
		objectsData.sort(function(a,b){
		    var nameA = a.name.toUpperCase(); // ignore upper and lowercase
  			var nameB = b.name.toUpperCase(); // ignore upper and lowercase
			if(nameA < nameB) return -1;
			if(nameA >= nameB) return 1;
		});
	}
	if(srt == "stars"){
		objectsData.sort(function(a,b){
			if(a.stars < b.stars) return 1;
			if(a.starts >= b.stars) return -1;
		});
	}

	var ul = document.getElementById('show');
	ul.innerHTML = "";

	for(var i = 0; i < objectsData.length; i++){

		var li = document.createElement('li');
		var a = document.createElement('a');
		a.href = objectsData[i].url;

		li.innerHTML = objectsData[i].name + " --> " + objectsData[i].description + " (With " + objectsData[i].stars + " stars)";
		a.appendChild(li);
		ul.appendChild(a);
	}

}

</script>

</body>
</html>
